.container {
  min-height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
  color: var(--color-text);
  border-bottom: var(--color-border);
}

.lightIcon {
  font-size: 1.8rem;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.lightIcon:hover {
  transform: scale(1.1);
}

.filters {
  display: flex;
  gap: 1.2rem;
}

.filter {
  position: relative;
  font-size: 1.1rem;
  font-weight: 700;
  opacity: 0.5;
  padding: 0.4rem 0.2rem;
  cursor: pointer;
  transition: opacity, transform 0.2s ease-out;
}

.filter.selected {
  opacity: 1;
}

.filter:hover {
  transform: scale(1.1);
}

.filter.selected::after {
  content: '';
  position: absolute;
  left: 1px;
  bottom: 3px;
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
}
