.app {
  width: 100%;
  max-width: 400px;
  height: 70%;
  background-color: var(--color-todolist-bg);
  border-radius: 0.8rem;
  overflow: hidden;
  border: var(--color-border);

  display: flex;
  flex-direction: column;
}
